* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-top: 10px;
    margin-right: 90px;
    margin-left: 100px;
}

.section1 {
    background-color: #1F2937;
    height: 60vh;
}

.content {
    margin-top: 70px;
    margin-left: 340px;
}

p {
    width: 320px;
    color: #adb5bd;

}

.btn1 {
    margin-top: 10px;
}

.box {
    width: 440px;
    height: 190px;
    margin-left: 400px;
    margin-top: -130px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;

}

.s1header {
    font-size: 34px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 14px;

}

ul,
li {
    color: #F9FAF8;
}

.btn1 {
    background-color: #0096c7;
    color: #F9FAF8;
    padding: 6px;

}

.box1 {
    display: flex;
    align-items: flex-end;
    margin-top: 00px;
    height: 130px;
    width: 130px;
    border: 2px solid rgba(23, 167, 244, 0.676);
    background-color: white;
    border-radius: 20px;


}


.boxes p {

    /* margin-top: 150px; */
    width: 120px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin-inline: 300px;
}

.section2 {
    /* height: 60vh; */
    background-color: white;

}

.s2header {
    color: #1F2937;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 900;
}